.add-product-container {
  display: flex;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 40px;
  }
}

.sidebar {
  width: 250px;
  padding-left: 0%; 
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.add-product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-product-header h1 {
  margin: 0;
}

.add-product-content {
  display: flex;
  gap: 20px; 
}

.info-and-upload {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.05); 
}

.general-info h3 {
  margin-top: 0;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.upload-img {
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.05);
}

.upload-img h3 {
  margin-top: 0;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.img-preview img {
  width: 100%;
  max-width: 150px;
  height: auto;
}

.img-thumbnails {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.img-thumbnails img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-img-btn {
  display: inline-block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.price-and-category {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  background-color: rgba(0, 0, 0, 0.05); 
}

.price-and-category h3 {
  margin-top: 0;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
textarea,
select {
  width: calc(100% - 20px); 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.save-draft-btn {
  background-color: #6c757d;
  margin-right: 10px;
}

.add-product-btn {
  background-color: #28a745;
}
